@mixin container {
  max-width: 92.5rem;
  margin: 0 auto;
  padding: 0 1.5rem;
  @include mobile {
    padding: 0 1rem;
  }
}

@mixin scrollbarX {
  &::-webkit-scrollbar {
    height: 0.5rem;
    cursor: pointer;
  }
  &::-webkit-scrollbar-thumb {
    background: $black;
    border-radius: 1rem;
    cursor: pointer;
  }
  &::-webkit-scrollbar-track {
    background: $white;
    cursor: pointer;
    border-radius: 1rem;
  }
}
